<%= form_for @dog, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Dog</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :breed_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.select("breed_id", Breed.all.collect {|breed| [ breed.name, breed.id ] }, { :include_blank => true }) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :weight, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :weight, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :notes, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :notes, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :jumps_fences, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :jumps_fences, :class => 'check_box' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', dogs_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
