<h1>Dogs</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.id %></td>
        <td><%= link_to dog.name, dog_path(dog) %></td>
        <td><%= dog.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_dog_path(dog), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', dog_path(dog), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_dog_path, :class => 'btn btn-primary' %>
