<h1>/Dog</h1>

<p>
  <b>Name</b><br>
  <%= @dog.name %>
</p>

<p>
  <b>Weight</b><br>
  <%= @dog.weight %>
</p>

<p>
  <b>Notes</b><br>
  <%= @dog.notes %>
</p>

<p>
  <b>Jumps fences</b><br>
  <%= @dog.jumps_fences %>
</p>

<p>
  <b>Breed</b><br>
  <%= @dog.breed_id %>
</p>

<div class="form-actions">
  <%= link_to 'Back', dogs_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_dog_path(@dog), :class => 'btn' %>
  <%= link_to 'Delete', dog_path(@dog), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
