<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @booking.date %>
</p>

<p>
  <b>Dog:</b>
	<%= @booking.dog.try(:name) %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
